body{
    margin: 0px;
    padding: 0px;
    background: #456d59;
}

#game{
    background-image: url(../images/space.jpg);
    background-position: center center;
    position: absolute;  
    top: 50%;
    left: 50%;  /*center of sceen*/
    margin-left: -420px;
    margin-top: -230px;
}


