html, body{
    width:100%;
    height:100%;
}

body{
    margin: 0px;
    padding: 0px;
    background: #456d59;
    background-image: url(../images/spacebg.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#game{
    background-image: url(../images/space.jpg);
    background-position: center center;
    position: absolute;
    top: 50%;
    left: 50%;  /*center of sceen*/
    margin-left: -420px;
    margin-top: -230px;
}


